[pylint]
disable=
    bare-except,
    consider-using-f-string,
    duplicate-key,
    fixme,
    invalid-character-esc,
    invalid-name,
    line-too-long,
    missing-function-docstring,
    missing-module-docstring,
    redefined-builtin,
    redefined-outer-name,
    redundant-u-string-prefix,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    unidiomatic-typecheck,
    unnecessary-dict-index-lookup,
    unspecified-encoding,
    unused-argument,
    unused-import,
    unused-variable,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
